*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}



body {
  background-color: rgb(249, 249, 249);
  height: 1000px;
  padding-top: 160px;
  padding-left: 15px;
  padding-right: 7px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}



main {
  color: rgb(69, 69, 69);
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 500%;
}

.box-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5px;
  
}

.fact-box {
  margin: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgba(226, 226, 226, 0.323);
  border: 1px solid rgb(189, 189, 189);
  align-items: center;
  width: 230px;
  aspect-ratio: 1/1;
  position: relative;

  color: rgb(69, 69, 69);
  transition: background-color 0.25s;
}

.fact-box:hover {
  background-color: rgba(160, 160, 160, 0.323);
}

.box-header {
  font-size: 150%;
  margin-bottom: auto;
  margin-top: 10px;
}


.box-content {
  font-size: 500%;
  margin: 5px;
}

.box-bottom {
  font-size: 200%;
  margin-top: auto;
  margin-bottom: 10px;
}
