.until {
  margin: 25px;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em;
  padding: 1em;
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: sans-serif
}

.until__component {
  text-align: center;
  background: white;
  border-radius: 5px;
}

.until__numeric {
  color: #333333;
  padding: 0.5em 0;
  font-size: 3em;
  font-weight: bold;
}

.until__unit {
  font-size: 1.2em;
  padding-bottom: 1em;
  font-weight: bold;
  color: red;
}

.until__event {
  font-size: 1.2em;
  padding-bottom: 1em;
  font-weight: bold;
  color: white;
  grid-column: span 4;
  text-align: center;
}

