main {
  margin-top: 8em;
  color: rgb(69, 69, 69);
}

.welcome-heading {
  text-align: center;
  font-size: 500%;
  font-weight: normal;
  display: none;
}

.section-heading {
  text-align: center;
  font-size: 500%;
  font-weight: 300;
}

.since__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  margin: 1em 2em;
  justify-items: center;
}

.since__component {
  background-color: rgba(226, 226, 226, 0.323);
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid rgb(189, 189, 189);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.since__numeric {
  font-size: 5vw;
  font-weight: bolder;
}

.since__unit {
  position: absolute;
  bottom: 0.5em;
  font-size: 1.5em;
}

@media screen and (max-width: 800px) {
  .since__cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 1em 5em;
  }

  .since__numeric {
    font-size: 6vw;
  }


}

@media screen and (max-width: 540px) {
  .since__cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 1em 5em;
  }

  .since__numeric {
    font-size: 15vw;
  }


}